@font-face {
    font-family: "Seconda Soft";
    src: url(./assets/fonts/Seconda\ Soft\ W00\ Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Seconda Soft";
}

html{
    background-color: #1f2125;
}

button{
    border: none;
    min-height: 30px;
    min-width: 200px;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none !important;
}


/* ! Menu styles */
.mainMenu{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./assets/images/truckBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head{
    margin-left: 5%;
    margin-top: 100px;
}

.headText, .subTitle{
    text-transform: capitalize;
    font-family: 'Seconda Soft';
    color: white;
}
  
.quiz-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 35px;
}
  
.quizCard {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
  
.quizCard:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.226);
}
  
  
.quizCard__link {
    display: flex;
    justify-content: center;
}
  
.start-btn {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}
    
.quizCard__title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.quizCard__description {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

@media screen and (max-width:550px){
    html{
        overflow: hidden;
    }
    .quiz-section{
        flex-direction: column;       
        align-items: start;
        padding: 0 20px;
        margin: 0;
        margin-bottom: 10px;
        width: auto;
        gap: 15px;
    }
    .quizCard{
        width: 100%;
    }
    .quizCard__content{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 81px;
        align-content: space-between;
    }
    .quizCard__description{
        display: block;
    }
    .quizCard__title {
        text-align: start;
    }
    .quizCard:hover {
        transform: translateY(-10px);
        box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.9);
    }
}

@media screen and (max-width:430px){
    .quizCard__link{
        justify-content: start;
    }
    .start-btn {
        font-size: 15px;
        font-weight: bold;
    }
    .quizCard__title {
        font-size: 18px;
    }
}
/* ! Result page styles */
.result{
    width: 100%;
    height: 100vh;
    background-color: #1f2125;
    background-image: linear-gradient(#2c2e2f 0.6px, transparent 0.6px), linear-gradient(90deg, #2c2e2f 0.6px, transparent 0.6px);
    background-size: 100px 100px;
    background-position: -0.1rem -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background: #1f2125;
}

.result__img{
    fill: white;
    background: wheat;
}

.result__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.finalScore{
    color: #e563a3;
    font-size: 65px;
}

.questionAmount{
    color: white;
    font-size: 40px;
}

.result__content-text{
    color: white;
    line-height: 30px;
}

.result__content-text::first-line{
    font-size: 25px;
    line-height: 70px;
    font-weight: bold;
}

.navigation-buttons{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation-buttons button{
    background: #1b67ae;
    color: white;
    height: 60px;
    width: 40%;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width:1060px){
    .container{
        width: 50%;
    }
    .result__value{
        padding-left: 10px;
    }
    .result__content-text::first-line{
        font-size: 17px;
        line-height: 30px;
    }
    .result__content-text{
        font-size: 14px;
        line-height: 25px;
    }
    .navigation-buttons {
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }
    .navigation-buttons button{
        width: 100%;
        height: 40px;
    }
}

@media screen and (max-width:600px){
    .container{
        width: 80%;
    }
}

@media screen and (max-width:400px){
    .result__content-text{
        line-height: 20px;
    }    
}

@media screen and (max-width:365px){
    .result__content-text::first-line{
        font-size: 15px;
    }
}

/* ! Question Card styles */
.questionCard{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.questionCard__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 80%;
}

.questionCard__block-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3b3c43;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    color: white;
}

.questionNumber{
    border-radius: 20px;
    height: 28px;
    width: 200px;
    text-align: center;
    background: #51cf66;
    color: #333;
    font-weight: bold;
    padding: 16px;
    display: grid;
    place-items: center;
    transform: translateY(-32px);
}

.questionText{
    text-align: center;
    width: 90%;
}

.score{
    margin-top: 5px;
}

.options{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: calc((100vw * 0.8) * 0.01);
}

.options button{
    width: 49.5%;
    border-radius: 5px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 600;
    background: #3b3c43;
    color: white;
}

.select{
    background: #51cf66 !important;
    color: #333 !important;
}

.wrong{
    background-color: tomato !important;
    color: white !important;
}

.controls{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3b3c43;
    width: 90%;
    height: 75px;
    border-radius: 10px;
    padding: 0 10px;
}

.controls button{
    height: 48px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.controls img{
    width: 20px;
    transform: translateY(-2px);
}
.controls button:first-child img{
    transform: translateY(-2px) scaleX(-1);
}

.errorText{
    margin-top: 20px;
    color: tomato;
    font-size: 24px;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

header, nav{
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    align-items: center;
}

.nav__item-title{
    text-transform: capitalize;
    color: white;
    font-size: 24px;
}

.nav__item-btn{
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    border-radius: 7px 0 0 7px;
    background: #4c5a9e;
    color: white;
    letter-spacing: 2px;
}