@font-face {
    font-family: "Seconda Soft";
    src: url(./assets/fonts/Seconda\ Soft\ W00\ Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Seconda Soft";
}

button{
    border: none;
    min-height: 30px;
    min-width: 200px;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none !important;
}


.mainMenu{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./assets/images/truckBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head{
    margin-left: 5%;
    margin-top: 100px;
}

.headText, .subTitle{
    text-transform: capitalize;
    font-family: 'Seconda Soft';
    color: white;
}
  
.quiz-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 35px;
}
  
.quizCard {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
  
.quizCard:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.226);
}
  
  
.quizCard__link {
    display: flex;
    justify-content: center;
}
  
.start-btn {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}
    
.quizCard__title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.quizCard__description {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

@media screen and (max-width:550px){
    .quiz-section{
        flex-direction: column;       
        align-items: start;
        padding: 0 20px;
        margin: 0;
        margin-bottom: 10px;
        width: auto;
        gap: 15px;
    }
    .quizCard{
        width: 100%;
    }
    .quizCard__content{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 81px;
        align-content: space-between;
    }
    .quizCard__description{
        display: block;
    }
    .quizCard__title {
        text-align: start;
    }
    .quizCard:hover {
        transform: translateY(-10px);
        box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.9);
    }
}

@media screen and (max-width:420px){
    .quizCard__content{
        flex-wrap: nowrap;
    }
    .quizCard__link{
        justify-content: start;
    }
    .start-btn {
        font-size: 15px;
        font-weight: bold;
    }
}

.select{
    background-color: green;
    color: white;
}

.wrong{
    background-color: red;
    color: white;
}