.headText{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

button{
    border: none;
    min-height: 30px;
    min-width: 200px;
    cursor: pointer;
}

.subTitle{
    text-align: center;
}

a{
    color: black;
    text-decoration: none !important;
}